APScheduler==3.7.0
certifi==2020.12.5
chardet==4.0.0
ephem==3.7.7.1
idna==2.10
Pillow==8.1.0
pkg-resources==0.0.0
ptyprocess==0.7.0
pyephem==9.99
python-dateutil==2.8.1
pytz==2021.1
requests==2.25.1
RPi.GPIO==0.7.0
ruuvitag-sensor==1.1.0
Rx==1.6.1
six==1.15.0
spidev==3.5
tzlocal==2.1
urllib3==1.26.3