#!/bin/bash

# Define these
HOSTNAME= # IP, host or any SSH hostname
APP_ROOT_DIRECTORY= # The directory on Raspberry under which the app will be installed
VENV_ROOT_DIRECTORY= # The directory on Raspberry under which the virtual env will be created

# Usually no need to change these
APP_NAME=eInk-weather-display # No need to change this
VENV_NAME=${APP_NAME} # Name of the virtual env on Raspberry
SESSION_NAME=${APP_NAME} # Session name for tmux on Raspberry

# Derived variables
APP_DIRECTORY=${APP_ROOT_DIRECTORY}/${APP_NAME}
VENV_DIRECTORY=${VENV_ROOT_DIRECTORY}/${VENV_NAME}
