# This script copies C source code to Raspberry Pi, compiles the shared library and fetches it back

IP_ADDRESS=192.168.0.0
DIRECTORY=/path/to/compile/dir

rsync -av --delete clib $IP_ADDRESS:$DIRECTORY
# The script below deletes the old session if it exists and starts a new one
ssh $IP_ADDRESS DIRECTORY=$DIRECTORY 'bash -s' <<'ENDSSH'
  cd ${DIRECTORY}/clib
  make
ENDSSH

rsync -v $IP_ADDRESS:$DIRECTORY/clib/epd.so eInk-weather-display/lib