#!/bin/bash

# Edit this example file to suit your needs

VENV_DIRECTORY=/path/to/venv/dir
DEPLOYMENT_DIRECTORY=/path/to/deployment/dir/eInk-weather-display

. ${VENV_DIRECTORY}/bin/activate
cd ${DEPLOYMENT_DIRECTORY}
python weather-display.py
